#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Comment this out if you want to include the tests when the package is built
skip_the_tests=-DBUILD_TESTING:BOOL=OFF

%:
	dh  $@

override_dh_auto_configure:
	dh_auto_configure -- $(skip_the_tests) \
		-DCMAKE_BUILD_TYPE:STRING=DebianPackage \
		-DDEFAULT_CONF_PATH:PATH=/etc/freeDiameter \
		-DALL_EXTENSIONS:BOOL=OFF \
                -DBUILD_ACL_WL:BOOL=ON \
                -DBUILD_APP_ACCT:BOOL=ON \
                -DBUILD_APP_DIAMEAP:BOOL=OFF \
                -DBUILD_APP_RADGW:BOOL=ON \
                -DBUILD_APP_REDIRECT:BOOL=OFF \
                -DBUILD_APP_SIP:BOOL=ON \
                -DBUILD_DBG_DICT_DUMP:BOOL=ON \
                -DBUILD_DBG_DICT_DUMP_JSON:BOOL=OFF \
                -DBUILD_DBG_INTERACTIVE:BOOL=OFF \
                -DBUILD_DBG_LOGLEVEL:BOOL=ON \
                -DBUILD_DBG_MONITOR:BOOL=ON \
                -DBUILD_DBG_MSG_DUMPS:BOOL=ON \
                -DBUILD_DBG_MSG_TIMINGS:BOOL=ON \
                -DBUILD_DBG_RT:BOOL=ON \
                -DBUILD_DICT_DCCA:BOOL=ON \
                -DBUILD_DICT_DCCA_3GPP:BOOL=ON \
                -DBUILD_DICT_DCCA_STARENT:BOOL=ON \
                -DBUILD_DICT_EAP:BOOL=ON \
                -DBUILD_DICT_JSON:BOOL=OFF \
                -DBUILD_DICT_LEGACY_XML:BOOL=ON \
                -DBUILD_DICT_MIP6A:BOOL=ON \
                -DBUILD_DICT_MIP6I:BOOL=ON \
                -DBUILD_DICT_NASREQ:BOOL=ON \
                -DBUILD_DICT_NAS_MIPV6:BOOL=ON \
                -DBUILD_DICT_RFC5777:BOOL=ON \
                -DBUILD_DICT_SIP:BOOL=ON \
                -DBUILD_RT_BUSYPEERS:BOOL=ON \
                -DBUILD_RT_DEFAULT:BOOL=ON \
                -DBUILD_RT_DENY_BY_SIZE:BOOL=ON \
                -DBUILD_RT_EREG:BOOL=ON \
                -DBUILD_RT_IGNORE_DH:BOOL=ON \
                -DBUILD_RT_LOAD_BALANCE:BOOL=ON \
                -DBUILD_RT_RANDOMIZE:BOOL=ON \
                -DBUILD_RT_REDIRECT:BOOL=ON \
                -DBUILD_RT_REWRITE:BOOL=ON \
                -DBUILD_TESTING:BOOL=ON \
                -DBUILD_TEST_ACCT:BOOL=OFF \
                -DBUILD_TEST_APP:BOOL=ON \
                -DBUILD_TEST_AS:BOOL=OFF \
                -DBUILD_TEST_CC:BOOL=ON \
                -DBUILD_TEST_CCLOAD:BOOL=ON \
                -DBUILD_TEST_NETEMUL:BOOL=ON \
                -DBUILD_TEST_RT_ANY:BOOL=OFF \
                -DBUILD_TEST_SIP:BOOL=ON \
                -DBUILD__SAMPLE:BOOL=OFF	
		

